body *::selection{
    background-color: #222;
    color: white;
}
body *::-moz-selection{
    background-color: #222;
    color: white;
}
.wrapper *::selection{
    background-color: white;
    color: #222;
}
.wrapper *::-moz-selection{
    background-color: white;
    color: #222;
}


body, html{
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    overflow: hidden;
    color: #222;
}
.hungry_div{
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}
header{
    display: block;
    width: 95%;
    max-width: 960px;
    margin: 0 auto 30px;
}
h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
h1+p{
    font-weight: 700;
    font-size: 1.5em;
    position: relative;
    left: 3px;
}
main{
    width: 95%;
    max-width: 960px;
    margin: auto;
}
main h2{
    margin-bottom: 10px;
}
#list{
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0 9999rem 40%;
    background: #222;
    color: white;
}
.wrapper{
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    float: left;
    background-color: #222;
    color: white;
}
.wrapper div{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.3s;
}
.wrapper div p:first-child{
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    line-height: 0;
    position: relative;
    top: 50%;
}
.wrapper h3{
    margin-top: 100%;
    position: relative;
    padding-top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.2;
    transition: 0.3s;
}
.wrapper>p{
    opacity: 0;
    transition: 0.3s 0.8s;
}
.wrapper>p.active{
    opacity: 1; 
}
.wrapper:hover div{
    top: -10%;
    opacity: 0;
}
.wrapper:hover h3{
    margin-top: 25%;
}


/*the UNICLO CALENDAR*/

#calendar{
    display: none;
}
#calendar{
    position: absolute;
    top: -320px;
    right: 0px;
    overflow: hidden;
    background-color: #222;
    width: 60px;
    height: 380px;
    line-height: 0;
    transition: 0.4s;
}
#calendar:hover{
    height: 320px;
    width: 160px;
    top: 0;
}
#calendar p{
    text-align: center;
    font-size: 0.75rem;
    line-height: 60px;
    color: white;
}