body *::selection{
    background-color: #222;
    color: white;
}
body *::-moz-selection{
    background-color: #222;
    color: white;
}
.wrapper *::selection{
    background-color: white;
    color: #222;
}
.wrapper *::-moz-selection{
    background-color: white;
    color: #222;
}

*{
    transition: 0.5s;
}

body, html{
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    overflow: hidden;
    color: #222;
}
#hungry_div{
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}
header{
    display: block;
    width: 95%;
    max-width: 960px;
    margin: 0 auto 30px;
}
h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
h1+p{
    font-weight: 700;
    font-size: 1.5em;
    position: relative;
    left: 3px;
}
main{
    width: 95%;
    max-width: 960px;
    margin: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
main h2{
    margin-bottom: 10px;
}
#list{
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0 9999rem 40%;
    background: #222;
    color: white;
}
.wrapper{
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    float: left;
    background-color: #222;
    color: white;
    transition: none;
    cursor: pointer;
}
.wrapper div{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.wrapper div p:first-child{
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    line-height: 0;
    position: relative;
    top: 50%;
    transition: 0.5s;
}
.wrapper h3{
    margin-top: 100%;
    position: relative;
    padding-top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.2;
    display: inline-block;
    transition: margin 0.5s, color 0.22s;
}
.wrapper>p{
    opacity: 0;
    transition: 0.5s;
}
.wrapper:hover div{
    top: -10%;
    opacity: 0;
}
.wrapper:hover h3{
    margin-top: 25%;
    color: #da2467;
}

/*used for fake hover triggered by js*/

.wrapper.hover div{
    top: -10%;
    opacity: 0;
}
.wrapper.hover h3{
    margin-top: 25%;
}

/*the UNICLO CALENDAR*/

#calendar.hidden{
    display: none;
}
#calendar{
    position: absolute;
    top: -360px;
    right: 0px;
    overflow: hidden;
    background-color: #222;
    width: 60px;
    height: 420px;
    line-height: 0;
    transition: 0.5s;
}
#calendar:hover{
    height: 360px;
    width: 160px;
    top: 0;
    box-shadow: rgba(0,0,0,0.35) 0 6px 13px;
}
#calendar p{
    text-align: center;
    font-size: 0.75rem;
    line-height: 60px;
    text-align: center;
    color: white;
}
#calendar p:first-child{
    line-height: 40px;
    cursor: pointer;
    width: 160px;
    border-right: 1px solid white;
}

/*after clicking the number*/
header.activate{
    opacity: 0;
}
/*
#hungry_div.activate{
    top: 50%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
}
*/
main.activate h2{
    font-size: 4rem;
}
main.activate h2 span{
    opacity: 0;
}
.wrapper.hidden{
    padding: 0;
    width: 0;
    opacity: 0;
    display: none;
}
.wrapper.activate{
    opacity: 1;
    width: 100%;
    padding-bottom: 40%;
    background-color: #222;
}
.wrapper.activate div p{
    left: -45%;
    top: -50%;
    transition: 0.5s;
}
.wrapper.activate div{
    top: -10%;
    opacity: 0;
}
.wrapper.activate h3{
    margin-top: -20%;
    font-size: 2rem;
    left: 8px;
    color: #da2467;
}
.wrapper.activate>p{
    opacity: 1;
    font-size: 1rem;
    margin-top: -20%;
    padding: 0 10px 0 6px;
    line-height: 1.45;
}

@media screen and (max-width: 650px) {}